<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Картриджи</title>
</head>
<head>
    <title>Картриджи</title>
</head>
<body>
<header>
    <h3>Список картриджей</h3>
</header>
<br>

<form th:method="GET" th:action="@{/device/create}">
    <button type="submit">
        ДОБАВИТЬ ДЕВАЙС
    </button>
</form>

<br>

<div th:switch="${devices}">
    <div th:case="null">
        <h2>Список пуст</h2>
    </div>

    <div th:if="${devices.size() != 0}">

        <table>
            <tr>
                <th>№</th>
                <th>ИМЯ</th>
                <th>СОПРОТИВЛЕНИЕ</th>
                <th>ЦЕНА</th>
                <th>МАГАЗИН</th>
                <th>ПОСТАВЩИК</th>
                <th colspan="2">ДЕЙСТВИЕ</th>
            </tr>


            <tr th:each="device,deviceStat : ${devices}">
                <td th:text="${deviceStat.count}"></td>
                <td th:text="${device.name}"></td>
                <td th:text="${device.brand}"></td>
                <td th:text="${device.price}"></td>
                <td th:text="${device.storeName}"></td>
                <td th:text="${device.providerName}"></td>
                <td>
                    <form th:method="GET" th:action="@{/device/{id}/edit(id=${device.id})}">
                        <button type="submit">
                            РЕДАКТИРОВАТЬ
                        </button>
                    </form>
                </td>
                <td>
                    <form th:method="DELETE" th:action="@{/device/{id}(id=${device.id})}">
                        <button type="submit">
                            УДАЛИТЬ
                        </button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
</div>
<br>
</body>
</html>