<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Изменение магазина</title>
</head>
<body>

<div>
    <div>
        <span>Изменение магазина</span>

        <div>
            <form th:method="PATCH" th:action="@{/store/{id}(id=${store.getId()})}" th:object="${store}">

                <p>
                    <label for="name">Введите название:</label>
                    <input th:field="*{name}" name="name" id="name" placeholder="название" type="string">
                </p>

                <p>
                    <label for="address">Введите адресс:</label>
                    <input th:field="*{address}" name="address" id="address" placeholder="адресс" type="string">
                </p>

                <button type="submit">
                    ОБНОВИТЬ
                </button>
            </form>

            <form th:method="GET" th:action="@{/store}">
                <button type="submit">
                    ОТМЕНА
                </button>
            </form>
        </div>
    </div>
</div>
</body>

</html>
